@use "@/styles/scss/abstracts/" as *;

.header {
  // overflow: hidden;
  padding: 0;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  width: 100vw;
  height: 9vh;

.dropMenu{
  background-color: $primaryColor;
  z-index: 999;
  padding: 0.5rem;
}

}

.navBrand {
  color: $blueColor;
  font-size: 2.5rem;
  margin-left: 3rem;
  line-height: 3rem;
  
}

.navlink {
  font-size: $navFontSize;
  font-weight: $navFontWeight;
  width: 6rem;
  text-decoration: none;
  color: white;
  padding: 0 0.5rem;
  margin-left: 3rem;
  line-height: 3rem;
  border-radius: 1px;
  background: linear-gradient(#0197e1 0 0) no-repeat;
  background-size: 0%;
  z-index: 999;

  &:hover {
    color: rgb(255, 255, 255);
    background-size: 100%;
    transition: 0.4s;
  }
}

.form {
  margin-right: 6rem;
}

.customButton {
  color: rgb(0, 0, 0);
  background-color: $blueColor;
  //button style:
  font-family: inherit;
  padding: 0 1.3rem;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4rem;
  box-shadow: 0.3rem 0.3rem;
  &:hover {
    transform: translate(-0.05rem, -0.05rem);
    box-shadow: 0.15rem 0.15rem;
  }

  &:active {
    transform: translate(0.05rem, 0.05rem);
    box-shadow: 0.05rem 0.05rem;
  }
}
