@use "@/styles/scss/abstracts/" as *;

.upper_header {
  color: white;
  width: 100vw;
  height: 8vh;
  background-color: #505050;
  padding-left: 0;
  padding-right: 0;
  font-size: $navFontSize;
   text-shadow: -1px -1px 0 #121212, 1px 1px 0 #121212, -1px 1px 0 #121212,
    1px -1px 0 #121212;
}
.logo{
  z-index: 99;
  position: absolute;
  margin-left: 5rem;
}
.weather{
display:flex;
flex-direction:row;
justify-content: flex-end;
margin-right: 6rem;
}

.icon{
  
  line-height: 8vh;
}

.location{ 
 
  line-height: 8vh;
   padding-left: 1rem;
  // background-color: aqua;
}

.temp{
  line-height: 8vh;
  padding-left: 1rem;
  // background-color: blueviolet;
}
.condition{
  line-height: 8vh;
 padding-left: 1rem;
  // background-color: chartreuse;
}