@use "@/styles/scss/abstracts/" as *;

.coinContainer {
  background-color: $secondaryColor;
  position: relative;
  padding: 1rem;
  line-height: 1rem;

  width: 100%;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  z-index: 99;
  padding-left: 1rem;
  padding-right: 0;

  .customButton {
    color: rgb(0, 0, 0);
    background-color: $blueColor;
    //button style:
    width: 5rem;
    margin-left: 0.5rem;
    height: 1.7rem;
    font-family: inherit;
    // padding: 0 1rem;
    font-weight: 900;
    font-size: 1rem;
    border: 3px solid black;
    border-radius: 0.4rem;
    box-shadow: 0.3rem 0.3rem;
    &:hover {
      transform: translate(-0.05rem, -0.05rem);
      box-shadow: 0.15rem 0.15rem;
    }

    &:active {
      transform: translate(0.05rem, 0.05rem);
      box-shadow: 0.05rem 0.05rem;
    }
  }

  img {
    width: 1.3rem;
  }
  p {
    display: inline-block;
    line-height: 1rem;
    &:hover {
      cursor: pointer;
    }
  }

  .coinPagination {
    width: 100%;
    position: absolute;
    margin: 0 auto;
    padding-top: 3rem;
    // background-color: red;
  }
}

// custom input styles
.input {
  width: 60%;
  max-width: 200px;
  height: 30px;
  padding: 12px;
  border-radius: 0.4rem;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
}

.input:hover {
  border: 2px solid lightgrey;
  box-shadow: 0px 0px 20px -17px;
}

.input:active {
  transform: scale(0.95);
}

.input:focus {
  border: 2px solid grey;
}
