@use "@/styles/scss/abstracts/" as *;

.articleItem {
  margin-top: 5rem;
  overflow: hidden;
  position: relative;
 
}

.imageContainer {
  width: 30vw;
  height: 29vh;
  overflow: hidden;
margin: 0 auto;
   @media (max-width:1199px) {
    width: 100vw;
    height:auto;
  }
}
.articleImage {
  position: relative;
  width: 30vw;
height: 29vh;
  z-index: 0;

  &:hover {
    opacity: 0.9;
  }


  @media (max-width: 1199px) {
    width: 100%;
    height: 100%;
  }

}

.card-body.styles.newsBody {
  position: absolute;
  height: auto;
  z-index: 1;
}
