@use "@/styles/scss/abstracts/" as *;

.articleItem {
  margin-top: 5rem;
  overflow: hidden;
  position: relative;
}

.imageContainer {
  width: 30vw;
  height: 29vh;
  overflow: hidden;
}
.articleImage {
  position: relative;
  // width: 50vw;

  z-index: 0;

  &:hover {
    opacity: 0.9;
  }
}

.card-body.styles.newsBody {
  position: absolute;
  height: auto;
  z-index: 1;
}
