// VARIABLES
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

// MAIN COLORS
$primaryColor: #212529;
$secondaryColor: #505050;
$tertiaryColor: #E6E6E6;
$backgroundColor: #d5d3d3f1;

$blueColor: #01CFFF;
$redColor: #EE0017;

$fontColorDark: #000000;
$fontColorGrey: #d2d2d2;;
$fontColorLight: #ffffff;

$navFontSize: 1.25rem;
$bodyFontSize: 1.1rem;
$captionFontWeight: 800;