@use "@/styles/scss/abstracts/" as *;

.heroSection {
  position: relative;
  margin: 0 auto;
  width: 100vw;
  height: 85vh;
  overflow: hidden;
}
.hero_caption {
  display: absolute;
  color: black;
  background-color: white;

  margin-top: 50vh;
  // opacity: 0.8;
}
