@use "@/styles/scss/abstracts/" as *;

.heroSection {
  position:flex;
  margin: 0 auto;
  width: 60vw;
  // height: 80vh;
  overflow: hidden;
  margin-bottom: 15vh;
  align-items: center;
  // background-color: red;
}
.hero_caption {
  height: auto;
  // color: #000000;
  text-align: center;

  font-weight: $captionFontWeight;
  font-size: 1.5vw;
  opacity: 0.9;
  z-index: 99;
  color: rgb(0, 0, 0);
  // position: absolute;
  bottom: 20vh;
}

