@use "@/styles/scss/abstracts/" as *;

.articlesList {
  width: 100%;
  height: auto;
  // padding: 0 5rem;
  // margin-top: 5rem;
  margin-bottom: 5rem;
  // background-color:grey;
  display: grid;
  justify-items: center;
  // align-items: flex-start;
  padding-left: 0;
  padding-right: 0;
  // padding-top: 5rem;
  overflow: hidden;
  .pageBanner {
    // background-color: red;
    position: relative;
    width: 100vw;
    height: 30vh;
    background-size: cover;
    background-position: center top 30%;
    margin-top: 0;
    p {
      font-size: $titleFontSize;
      font-weight: $captionFontWeight;
      color: $fontColorGrey;
      text-align: center;
      line-height: 30vh;
      text-shadow: 2px 2px 5px #000000;
    }
  }
}

%pageLink,
.pageLink {
  display: block !important;
  // background-color: red;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  font-size: 1rem;
  padding: 1px;
}

.prev,
.next {
  @extend %pageLink;
  width: 4.5rem;
  height: 3rem;
  font-weight: 600;

  &:active,
  &:focus {
    background-color: none;
    color: $fontColorLight;
  }
}

.reactPaginate {
  margin-top: 10vh;
}
