@use "@/styles/scss/abstracts/" as *;

.footer1 {
  display: flex;
  background-color: $primaryColor;
  width: 100vw;
  height: 10vh;
  color: white;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: $navFontSize;
   padding-right: 0;
  padding-left: 0;
}

.about {
  margin-right: 5rem;
  &:hover {
    color: $blueColor;
  }
}
.privacy {
  margin-left: 5rem;
  &:hover {
    color: $blueColor;
  }
}

.footer2 {
  background-color: $secondaryColor;
  width: 100vw;
  height: 5vh;
  color: white;
  text-align: center;
  line-height: 5vh;
}

.container-fluid {

  padding-left: 0;
  padding-right: 0;
}
