@use "@/styles/scss/abstracts/" as *;

.container {
  width: 100vw;
  padding-left: 0;
  padding-right: 0;
  background-color: red;
}

.footer1 {
  display: flex;
  background-color: $primaryColor;
  width: 100vw;
  height: 10vh;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: $navFontSize;
  padding-right: 0;
  padding-left: 0;
  @media (max-width: 767px) {
    height: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 0;
  }
}

.navlink {
  font-size: $navFontSize;
  font-weight: $navFontWeight;
  width: auto;
  text-decoration: none;
  color: white;
  padding: 0.5rem 1rem;
  margin-left: 3rem;
  line-height: 3rem;
  border-radius: 1px;
  background: linear-gradient($blueColor2 0 0) no-repeat;
  background-size: 10px;
  z-index: 99;

  &:hover {
    color: rgb(255, 255, 255);
    background-size: 100%;
    transition: 0.4s;
  }
}

.footer2 {
  background-color: $secondaryColor;
  width: 100vw;
  height: 5vh;
  color: white;
  text-align: center;
  line-height: 5vh;
}
