@use "@/styles/scss/abstracts/" as *;

@import url("https://fonts.googleapis.com/css?family=Eczar:800");
@import url("https://fonts.googleapis.com/css?family=Poppins:600");

.container {

  background: $secondaryColor;
  padding: 1em;
  position: relative;
}

.content {
  height: 100vh;
  width: 100vw;
  position: relative;

}

.backgroundWrapper {

  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: "Eczar";
  transform: translate(-50%, -50%) rotate(0deg);
  font-size: 30rem;
 color: #282828;
  letter-spacing: 0.025em;
  margin: 0;


 

 


}

.text {
  text-align: center;
  z-index: 9;
  color: #dadada;
  font-size: $navFontSize + 1rem;
  text-shadow: -1px -1px 0 #121212, 1px 1px 0 #121212, -1px 1px 0 #121212,
    1px -1px 0 #121212;
}

.customButton {
  z-index: 2;
  position:absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  text-decoration: none;
  height: 2.5rem;
  color: rgb(0, 0, 0);
  background-color: $blueColor;
  font-family: inherit;
  padding: 0 1.3rem;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4rem;
  box-shadow: 0.3rem 0.3rem;

  &:hover {

    text-decoration: none;
    box-shadow: 0.15rem 0.15rem;
  }
}
